{% extends 'base.html' %} 
{% load static %}
{% block content %}


<main class="pt-5">
    
    <div class="container">
      
      <h1 class="h5"> Shopping cart </h1>

	<hr>
      
      {% for item in cart %}

      {% with product=item.product %}


      <br>

      <div class="row mb-4 border product-item">
        
        <div class="col-md-3 col-lg-2 order-md-first bg-light">
        
            <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{product.image.url}}">
        
        </div>

        
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
          
          <a href="{{product.get_absolute_url}}" class="text-info text-decoration-none">
          
            <h1 class="h5 pt-2"> {{ product.name | capfirst }} </h1>
          
          </a>
          
          <div class="border">
            
            <div class="col border-bottom">
              
                <div class="row p-3">
              
                <div class="col-6"></div>
              
                <div class="col-6 text-end"><span class="h6 fw-bold">$ {{product.price}} </span></div>
            
              </div>
            
            </div>
            
            <div class="col">
              
              <div class="row p-3">
                
                <div class="col-12">
                  
                  <label for="select">Quantity</label>

                  &nbsp; 
                  <!-- adding the product ID to our select element so we can select multiple quantitys per product -->
                  <select id="select{{product.id}}">
                  
                    <option selected>
                  
                        {{item.qty}}
                  
                    </option>
                  
                    <option value="">1</option>
                  
                    <option value="">2</option>
                  
                    <option value="">3</option>
                  
                    <option value="">4</option>
                  
                  </select>
                  
                  <br> <br>
                  <!-- using the data index instead of the value property because I have multiple products and to avoid issues with using the product id-->
                  <button type="button" data-index="{{product.id}}"
                    class="btn btn-primary btn-sm update-button">
                    Update
                  
                  </button>
                  
                  &nbsp;

                  <button type="button" data-index="{{product.id}}"
                    class="btn btn-danger btn-sm delete-button">
                    Delete
        
                  </button>
        

                </div>
        
            </div>
        
            </div>
    
            </div>
    
        </div>
      
    </div>
      
    {% endwith %}

    {% endfor %}

      <div class="col-12 text-end">
 
        <div class="h6 fw-bold"> Sub total: $ <div id="total" class="d-inline-flex"> {{cart.get_total}} </div></div>
 
      </div>
 

    </div>
  
    <br>

 </main>

 <script>

  // Delete button

    $(document).on('click', '.delete-button', function(e){
        console.log('water bottle')
        e.preventDefault();

        $.ajax({

            type: 'POST',
            url: '{% url "cart-delete" %}',
            data: {

                product_id: $(this).data('index'), //checking which button the user is selecting
                csrfmiddlewaretoken: "{{csrf_token}}", //always use csrf when using ajax
                action: 'post'

            },

            success: function(json){

                // console.log(json)

                location.reload(); // this function deletes the product from the checkout page

                document.getElementById("cart-qty").textContent = json.qty //the keys being referenced in the json response

                document.getElementById("total").textContent = json.total


            },

            error: function(xhr, errmsg, err){
                // console.log('hello world')


            }

        });


    })




</script>



<script>

  // Update button

    $(document).on('click', '.update-button', function(e){
        // console.log('hello alex')
        e.preventDefault();

        let theproductid = $(this).data('index');

        $.ajax({

            type: 'POST',
            url: '{% url "cart-update" %}',
            data: {

                product_id: $(this).data('index'), //checking which button the user is selecting
                product_quantity: $('#select' + theproductid + ' option:selected').text(), //selecting the product quantity based on the product id
                csrfmiddlewaretoken: "{{csrf_token}}", //always use csrf when using ajax
                action: 'post'

            },

            success: function(json){

                // console.log(json)

                location.reload(); // this function deletes the product from the checkout page

                document.getElementById("cart-qty").textContent = json.qty //the keys being referenced in the json response

                document.getElementById("total").textContent = json.total


            },

            error: function(xhr, errmsg, err){
                // console.log('hello world')


            }

        });


    })




</script>



{% endblock %}

