html, body{
  font-family: 'Urbanist', sans-serif;
  padding: 0;
  margin: 0;
  background-image: url("/static/img/background-image-demo.jpeg");
  background-repeat: no-repeat;
  background-color: #EBEBED;
  background-size: contain;
  height: 100vh;
  background-position: center;
}

nav{
  background-color: rgb(82, 88, 77);
  color: white;
  padding: 20px 50px;
}

/* .background-image {
  width: 200px;
} */

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity {
  display: inline-black;
  font-weight: 700;
  padding-right: 10px;
}

.form-field{
  width: 200px;
  display: inline-block;
  padding: 5px;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.hidden{
  display: none!important;
}

.searchInput{
  border: none;
  color: lightgray;
  border-color: transparent;
  background-color: gray;
}

.searchInput::placeholder{
  color: lightgray;
}

.holidaySpecial {
  font-size: 20px;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem{
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.sliderWrapper{
  display: flex;
  width: 10px;
  height: 10px;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  color:black;
}